button {
  background: none;
  border: none;
  outline: none;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  background-color: aliceblue;
  border: 1px solid lightblue;
  color: #333;
  cursor: pointer;

  transition: all 250ms ease-out;
}

button:active {
  transform: scale(0.8);
}
