body {
  margin: 0 auto;
  max-width: 30rem;
}

.shortcuts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select {
  display: flex;
  gap: 1rem;
  align-items: center;
}

label {
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
  width: 10rem;
}

input[type='text'] {
  text-align: center;
  width: 2rem;
  font-size: 1rem;
  font-weight: 500;

  padding: 0.2rem;
}

.button-cont {
  display: flex;
  gap: 0.5rem;
}

#message {
  font-size: 1rem;
}
